<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1524641234638-4c303747c310?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1>Save your Movies</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>My lists</h1>
    </div>

    <div class="col">
      <button class="button-1" role="button"><%= link_to "Create a Movie List", new_list_path %></button>
    </div>
  </div>
</div>

<div class= container>
  <ul>
    <% @lists.each do |list| %>
      <p> <li><%= link_to list.name, list_path(list) %></li> </p>
    <% end %>
  </ul>
</div>
