<div class="container">
  <h1>New List</h1>

  <%= render "form", list: @list %>

  <br>

  <div>
    <% if @list.present? && @list.persisted? %>
      <%= link_to "Back to list", list_path(@list) %>
    <% else %>
      <%= link_to "Back to lists", lists_path %>
    <% end %>
  </div>
</div>
