<div class="container">
  <h1>Add Movie</h1>

  <%= render "form", bookmark: @bookmark %>

  <br>

  <div>
    <% if @bookmark.list.present? %>
      <%= link_to "Back to list", list_path(@bookmark.list) %>
    <% else %>
      <%= link_to "Back to lists", lists_path %>
    <% end %>
  </div>
</div>
